.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.02%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5  ;

}
.nav-connect:hover{
    transform: scale(1.05);
}
.logo{
    width: 127px;
}
.nav-menu li img{
    margin-left: -64px;
    display: flex;
    width: 200px;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-open{
    display: none;
}
.nav-mob-close{
    display: none;
}
@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .navbar img{
        width: 100px;
    }
    .logo{
        width: 127px;
    }
    .hamburger{
        width: 75px;
        height: auto;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        margin-top: 1px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 200px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 0px 10px;
        flex-direction: row;
        gap: 20px;
    }
}